.flexbox1 {
  display: flex;
  height: 90%;

  margin-bottom: 10vh;
}

.leftbox {
  width: 50vh;
  height: 100vh;
  background-image: linear-gradient(
    180deg,
    rgba(250, 250, 250, 0.686),
    rgba(228, 192, 255, 0)
  );
  padding: 12px;
  text-align: center;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-bottom-right-radius: 80px;
  border-top-right-radius: 20px;
}

.flexbox2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

.card{
  width: 35vh;
  height: 35vh;
  background-color: rgba(5, 4, 4, 0.407);
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: rgb(248, 248, 248);
  text-align: center;
  font-size: 20px;
  border-radius: 15px;

  &:hover{
    background-color: #4d00ac00;    
    }  
}

a {
  text-decoration: none;
  font-family: sans-serif;
}

body {
  background-image: linear-gradient(
    60deg,
    rgb(186, 0, 254),
    rgb(123, 49, 233),
    rgb(228, 192, 255)
  );
  margin:0px;
}

.leftboxtext {
  font-size: 29px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mailme {
  color: rgb(254, 254, 254);

  font-size: x-large;
  font-weight: bolder;
}
body nav ul {
  font-size: medium;
  font-weight: bolder;
  width: 120vh;
  height: 6vh;
  background-color: rgb(237, 239, 241);
  text-align: center;
  font-family: sans-serif;
  border-radius: 4px;
}
li {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: large;
  display: inline-block;
}
nav {
  margin-left: 42vh;
}

.aboutbox {
  width: 95%;
  height: 82vh;
  background-color: rgba(0, 0, 0, 0.345);
  padding: 10px;
  align-items: center;
  border-radius: 15px;
  display: flex;
  margin-left: 20px;
}

.aboutbox img {
  border-radius: 200px;
  width: 20%;
  margin: none;
  margin-left: 10vh;

}

.aboutbox div {
  font-size: larger;
  padding: 10px;
  margin: 10vh;
  color: white;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card img{
  opacity:85%;
}

